# This is Git's per-user configuration file.
[user]
	name = David Vanoni
	email = david.vanoni@coplex.com
[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  unstage = reset HEAD --
  permission-reset = !git diff -p -R --no-color | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply
[color]
  ui = true
[core]
  excludesfile = /Users/dvanoni/.gitignore_global

